* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas */
    grid-template-rows: repeat(5, 1fr); /* 5 filas */
    height: 100vh;
    background-image: url('adfdas.jpg'); /* Cambia esta URL por la de tu imagen */
    background-size: 1000px; /* Cubre todo el fondo */
}

.grid-item {
    border: 1px solid rgba(255, 255, 255, 0.5); /* Límite de cada celda */
    display: flex;
    flex-direction: column; /* Alinea los elementos (imagen y texto) en columna */
    justify-content: flex-start; /* Alinea los elementos al principio (arriba) */
    align-items: center; /* Centra los elementos horizontalmente */
    text-decoration: none; /* Quitar el subrayado de los enlaces */
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra en las celdas */

    background-size: 100px 100px; /* Establece el tamaño de la imagen de fondo en 100px x 100px */

}

.grid-item:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5); /* Sombra más fuerte cuando se pasa el ratón */
    background-color: rgba(255, 255, 255, 0.5); /* Cambiar el fondo al pasar el ratón */
}

.images {
    width: 100px; /* Establece el ancho de la imagen en 100px */
    height: 100px; /* Establece la altura de la imagen en 100px */
    object-fit: cover; /* Asegura que la imagen se recorte proporcionalmente si es necesario */
    margin-bottom: 10px; /* Añade un margen debajo de la imagen para separar del texto */
}

p {
    text-align: center; /* Centra el texto debajo de la imagen */
    font-size: 25px; /* Ajusta el tamaño del texto */
    color: #000000; /* Color del texto */
}

.id{
    color:black;
    font-size: 90px; 
    text-align: center;
}