body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    background-color: #f6f8fc;
}

.sidebar {
    width: 250px;
    background: #fff;
    padding: 20px;
    height: 100vh;
    text-align: center;
}

/* Imagen de perfil */
.profile-img {
    width: 109px;
    height: 40px;
    
}

/* Botón de redactar */
.compose-btn {
    width: 200px;
    background: #c2e7ff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 8px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

/* Iconos del menú lateral */
.sidebar ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.sidebar ul .active {
    font-weight: bold;
}

.sidebar ul li .count {
    background: #d93025;
    color: white;
    padding: 2px 6px;
    border-radius: 12px;
    font-size: 12px;
    margin-left: auto;
}

.content {
    flex: 1;
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.top-bar input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    
}

.email-list {
    background: white;
    border-radius: 8px;
    padding: 10px;
}

.email {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: black;
}

.email input {
    margin-right: 10px;
}

.email .subject {
    flex: 1;
}

.email .time {
    color: gray;
    font-size: 12px;
}

.email.unread {
    font-weight: bold;
}


